.cabecalho-geral{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        margin: 10px;
    }
}

.container-principal{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}